* {
    margin: 0;
    flex: auto;
}

.hero-body {
    background-image: url("../stock.jfif");
}

.container {
    width: 10vw;
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div{
    padding: 10px;
    border: 1px solid #0000;
}

footer {
    flex-wrap: auto;
}