header {
    text-align:center;
}

body{
    margin: 0px 10px;
}

a img {
    max-height: 300px;
    max-width: 200px;
    justify-content: center;
    object-fit: contain;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#name {
    text-align: center;
    text-transform: uppercase;
}

.graph {
    margin: 0px 15px;
}

#left-article {
    margin-left: 200px;
}


#search-btn{
    min-width: 100px;
    min-height: 20px;
    margin-left: 10px;
    margin-top: 15px;
    
}

.co-name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

